// CSS Minified for Matthew White Personal Profile
* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	@include transition(all, 0.2s, ease-in-out);
}
html, body {
		padding:0;
		margin:0;
		font-family: 'Roboto', sans-serif !important;
}
.clear:after {
	content: " ";
	display: table;
	clear:both;
}
.clear {
	zoom:1;
}
@media (max-width: $media-phone) {

}
@media (min-width: $media-small-tablet) and (max-width: $media-large-tablet) {

}
@media (min-width: $media-desktop) {

}