// CSS Minified for Matthew White Personal Profile

html, body {
	width:100%;
	height:100%;
}
section {
	padding:100px 0;
	border-bottom:1px solid #ccc;
	.section-header {
		font-size:3em;
		padding:20px 0;
		margin:10px 0;
		}
	.subtitle {
		font-size: 1.5em;
		padding:20px;
		margin:0 0 10px 0;
	}
	.spacer {
		width:200px;
		height:2px;
		background: #000;
		margin:auto;
	}
}

//navigation sticky
nav {
	@include transition(all, 0.2s, ease-in-out);
	&.navbar-default {
		background-color: rgba(255,255,255,0.5);
		border-bottom:none;
	}
}