// CSS Minified for Matthew White Personal Profile

html, body {
	width:100%;
	height:100%;
}
section {
	color:$mwcv-grey-dark;
	padding:100px 0 70px 0;
	border-bottom:1px solid #ccc;
	.section-header {
		padding:20px 0;
		margin:10px 0;
		}
	.subtitle {
		padding:20px;
		margin:0 0 10px 0;
	}
	.spacer {
		width:200px;
		height:2px;
		background: $mwcv-red-darker;
		margin:auto;
	}
	h2 {
		font-family: $main-font;
		font-weight: 700;
		font-size: 1.6em;
	}
	h3 {
		font-family: $main-font;
		font-weight: 400;
		font-size: 1.4em;
	}
	p {
		font-family: $main-font;
		font-weight: 400;
		font-size: 1.2em;
	}
}

//navigation sticky
nav {
	@include transition(all, 0.2s, ease-in-out);
	&.navbar-default {
		background-color: rgba(255,255,255, 1);
		border-bottom:none;
	}
}