footer {
	padding:70px 0;
	background-color: $mwcv-grey;
	.scroll {
		a {
			display: block;
			width:48px;
			height:48px;
			position:absolute;
			top:0;
			left:50%;
			margin-top: -94px;
			margin-left: -24px;
			background-color: $mwcv-red-darker;
			font-size:24px;
			text-align: center;
			line-height: 48px;
			color:#fff;
			border-radius:4px;
				&:hover {
				background-color: $mwcv-red-base;
				@include transition(all, 0.2s, ease-in-out);
			}
		}
	}
	ul.social {
		text-align: center;
		.social-item {
			display: block;
			width:48px;
			height:48px;
			position:relative;
			background-color: $mwcv-red-darker;
			border-radius:4px;
				&:hover {
						background-color: $mwcv-red-base;
						@include transition(all, 0.2s, ease-in-out);
					}
			a {
				position:absolute;
				top:0;
				left:0;
				width:48px;
				height:48px;
				font-size: 24px;
				line-height:48px;
				color:#fff;
			}
		}
	}
}