.grid {
	margin:0 -15px;
}
.grid-row {
	padding:5px 0;
	margin:5px 0;
}
.col-12, .col-8, .col-6, .col-4, .col-2, .col-1  {
	width:100%;
	margin:5px 0;
	padding:5px 0;
	}

@media (min-width: $media-small-tablet) and (max-width: $media-large-tablet) {

}

@media (min-width: $media-desktop) {
.col-12, .col-8, .col-6, .col-4, .col-2, .col-1  {
	float:left;
	}
.col-8 {
	width:66.6667%
	}

.col-6 {
	width:50%;
	}

.col-4 {
	width:33.333%;
	}

.col-2 {
	width:16.6665%
	} 

.col-1 {
	width: 8.33333%
	}
}