.parent {
	background-color: #000;
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	position: relative;
	padding:20px;
		&::after {
			clear:both;
		}
		.child {
			position: absolute;
			top:50%;
			left:50%;
			width:260px;
			height:100px;
			margin-left:-130px;
			margin-top:-50px;
			color:#fff;
			text-align: center;
	}
	.nav-round {
		border-radius: 50%;
		height:50px;
		width:50px;
		background-color: #fff;
		position: absolute;
		bottom: 10px;
		left:50%;
		margin-left:-25px;
		cursor: pointer;
		opacity: 0.5;
		&:hover {
			opacity: 1;
			transition:(all, 0.5, ease-in-out);
		}
	}
}