.cover {
	width: 100%;
	height:100%;
	position: relative;
	padding:20px;
}
@media screen and (min-width: $media-phone) {

}
@media screen and (min-width: $media-tablet) {
}

@media screen and (min-width: $media-desktop) {
.cover {
	width: 100%;
	height: 100vh;
	}
}