@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic&subset=latin,latin-ext);
//media queries
$media-phone: 480px;
$media-small-tablet: 481px;
$media-large-tablet: 768px;
$media-lg-tablet: 992px;
$media-desktop: 1140px;
//fonts
$main-font: 'Lato', sans-serif;

//container
$container-small: 720px;
$container-medium: 940px;
$container-large:1100px;

$site-logo: url('../images/matthew-white-logo.png');
